@import "./style.scss";
@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
.kategorije {
  margin-top: $default_margin;
  display: flex;
  justify-content: space-between;
  font-family: "Baloo 2", cursive;

  @include mobile {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }

  .kategorija {
    text-align: center;
    h2 {
      font-size: 1.2vw;
      font-weight: 500;
      font-weight: bolder;
      line-height: 1;
      transition: $link_transition_time ease-in-out;

      @include tablet {
        font-size: 1.8vw;
        margin-left: 10px;
        margin-right: 10px;
      }

      @include mobile {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 4vw;
      }
    }
    h2:hover {
      color: map-get($colors, kategorija_hover);
      cursor: pointer;
      transition: $link_transition_time ease-in-out;
    }

    background-color: rgba(0, 0, 0, 0);
    color: map-get($colors, kategorija);
  }
}
