@import "./style.scss";
.display_content {
  width: 40vw;
  position: relative;
  border: 1px solid black;

  img {
    width: 40vw;

    visibility: hidden;

    @include colide {
      width: 80vw;
    }
  }

  @include colide {
    width: 80vw;
  }
}

.pdf {
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}

.content {
  .title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 1.4vw;
      color: map-get($colors, text_title);
      line-height: 1;
      white-space: pre;
      @include colide {
        font-size: 2.8vw;
      }
    }
  }

  .author {
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      padding-top: 0vw;
      font-size: 0.8vw;
      line-height: 1;
      white-space: pre;
      @include colide {
        font-size: 1.6vw;
      }
    }
  }
  .text_content {
    position: absolute;
    top: 30%;
    left: 5%;

    transform: translate(-0%, -20%);
    ul {
      list-style-type: none;
    }
    .li_akord {
      font-size: 0.9vw;
      color: map-get($colors, text_chord);
      font-weight: 700;
      white-space: pre;
      @include colide {
        font-size: 1.8vw;
      }
    }

    .li_text {
      font-size: 0.8vw;
      white-space: pre;
      font-weight: 500;
      @include colide {
        font-size: 1.6vw;
      }
    }
  }
}
