@import "./style.scss";
.right_side_display {
  width: 100%;
  @include colide {
    width: 80vw;
    height: max;
    margin-left: 5vw;
  }
}

.youtube_video {
  margin-top: 5px;
  width: 26vw;
  height: 18vw;
  @include colide {
    width: 80vw;
    height: 45vw;
  }

  margin-bottom: $default_margin;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.video {
  width: 100%;
  height: 100%;
}

.meta_title {
  line-height: 1;
  color: map-get($colors, content_title);

  

  h1 {
    font-weight: 500;
    span{
      font-weight: 400;
      font-size: 13px;
      line-height: 2.2;
      color:black;
      
      
      
    }
  }
  @include colide {
    margin-top: $default_margin;
  }
}
.author_views {
  display: flex;
  color: map-get($colors, content_author);
  justify-content: space-between;
  margin-top: 4px;
  @include colide {
    display: block;
  }
}
.meta_author {
  line-height: 1;
  h2 {
    font-weight: 400;
    font-size: 24px;
  }
}

.meta_views {
  color: map-get($colors, content_views);
  padding-top: 5px;
}

.go_middle {
  display: flex;
  justify-content: center;
  height: 100%;
  @include colide {
    justify-content: start;
  }
}

.wrapper_select {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  .select1 {
    display: flex;
  }
  .select2 {
    display: flex;
  }
  .root_select {
    width: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #ff6633;
  }
  button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    border: 1px solid #8f959e;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    outline: none;
  }
  button:hover {
    background-color: map-get($colors, card_author);
    cursor: pointer;
  }

  .transpose_title {
    font-weight: 500;
    font-size: 18px;
    color: #080608;
  }
}
.t_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 18px;
  background-color: #f5f7fa;

  .notes {
    width: 20px;
    color: #080608;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .root {
    width: 20px;
    color: #ff6633;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .arrow {
    width: 20px;
    color: #080608;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .transpose1 {
    width: 20px;
  }
  .transpose2 {
    width: 20px;
    margin-top: 5px;
  }
}

.wrapper_transpose {
  margin-top: $default_margin;
  border: 1px solid #8f959e;

  border-radius: 3px;
  @include colide {
    display: none;
  }
}
.oglas {
  margin-top: $default_margin;
  width: 100%;
  height: 350px;

  background-color: rgba(128, 128, 128, 0.205);
  @include colide {
    display: none;
  }
}

.space_vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iz {
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}
