@import "./style.scss";
.default_margin {
  margin: 0 $margin_side 0 $margin_side;
}

.split_sides {
  margin-top: $default_margin;
  display: flex;
  @include colide {
    display: grid;
    justify-content: center;
  }
}
.recommendations_wrapper {
  h2 {
    margin-top: $default_margin;
    font-size: 28px;
  }
}
.recommendations {
  display: grid;
  margin-top: $default_margin;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: $default_margin;
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mobile {
    visibility: hidden;
  }
}
