.display_content {
  position: relative;
  border: 1px solid black;
  img {
    width: 70vh;

    visibility: hidden;
  }
}

.content {
  .title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 1.4vw;
    }
  }

  .author {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      padding-top: 0vw;
      font-size: 1vw;
    }
  }
  .text_content {
    position: absolute;
    top: 14%;
    left: 20%;
    right: 0%;
    transform: translate(-20%, -20%);
    p {
      font-size: 0.8vw;
    }
  }
}
