@import "./style.scss";
.split_form_display {
  margin-top: $default_margin;
  display: flex;
  justify-content: space-between;
}

.form_wrapper {
  flex: 0.95;
  min-width: 300px;
}

.display_wrapper {
}

.text_input {
  margin-top: 20px;

  input {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    height: 40px;
    padding-left: 8px;
    border: none; /* <-- This thing here */
    border: solid 1px #ccc;
    border-radius: 3px;
  }
  input:focus {
    outline: none;
  }
}

.area_input {
  margin-top: 20px;
  width: 100%;

  textarea {
    padding: 8px 8px 8px 8px;
    width: 100%;
    height: 61.5vh;
    resize: none;
    outline: none;
  }
}
.submit_button {
  margin-top: 20px;
  input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: map-get($colors, submit_button);
    border: none; /* <-- This thing here */

    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.2s ease-in-out;
  }
  :hover {
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: map-get($colors, submit_button_hover);
    transition: 0.2s ease-in-out;
  }
}
.pick_categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.izberite {
  margin-top: 20px;
}
.cat {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.naslov_form {
}

.form {
  padding: 6px 15px 15px 15px;
  background-color: map-get($colors, opis1);
  border-radius: 3px;
}

.display_content {
  position: relative;
  border: 1px solid black;

  img {
    width: 70vh;

    visibility: hidden;
  }
}

.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.123);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  .file_name {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.4vw;
    font-weight: 600;
    transform: translate(-50%, -50%);
  }
}
.hidden {
  visibility: hidden;
}

.content {
  .title {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 1.4vw;
      color: map-get($colors, text_title);
      line-height: 1;
      white-space: pre;
    }
  }

  .author {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      padding-top: 0vw;
      font-size: 0.9vw;
      line-height: 1;
      white-space: pre;
    }
  }
  .text_content {
    position: absolute;
    top: 30%;
    left: 5%;

    transform: translate(-0%, -20%);
    ul {
      list-style-type: none;
    }
    .li_akord {
      font-size: 0.7vw;
      color: map-get($colors, text_chord);
      font-weight: 700;
      white-space: pre;
    }

    .li_text {
      font-size: 0.8vw;
      white-space: pre;
      font-weight: 500;
    }
  }
}
