@import "./style.scss";

.default_margin {
  margin-left: $margin_side;
  margin-right: $margin_side;
}

.search_results {
  display: grid;
  margin-top: $default_margin;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mobile {
    grid-template-columns: 1fr 1fr;
    margin-top: $default_margin_mobile;
    grid-column-gap: $default_margin_mobile;
    grid-row-gap: $default_margin_mobile;
  }
}

.searched_for {
  margin-top: 30px;
  span {
    color: map-get($colors, kategorija);
  }
}


.category_h1{
  margin-top:30px;
  line-height: 1;
  font-size:24px;
  font-weight: 300;
}