@import "scss/style.scss";

.kategorije {
  margin-top: $default_margin;
  display: flex;
  justify-content: space-between;

  .kategorija {
    text-align: center;
    h2 {
      font-size: 18px;
      font-weight: 500;
    }
    h2:hover {
      color: map-get($colors, kategorija_hover);
      cursor: pointer;
    }

    background-color: rgba(0, 0, 0, 0);
    color: map-get($colors, kategorija);
  }
}
