$colors: (
  background_carditem: transparent,
  card_title: rgb(78, 88, 96),
  card_author: rgb(128, 139, 150),
  card_viewcount: rgba(0, 0, 0, 0.4),
  card_title_hover: #ff6633,
  category_color: #2c3e50,
  category_color_hover: #ff6633,
  linebreak: rgba(0, 0, 0, 0.411),
  kategorija: #ff6633,
  nav_right: rgb(44, 62, 80),
  search_background: #f5f7fa65,
  opis1: #f1f5fc8e,
  submit_button: rgb(44, 62, 80),
  submit_button_hover: rgba(44, 62, 80, 0.883),
  text_title: #ff6633,
  text_chord: #ff6633,
  footer_default: rgb(44, 62, 80),
  footer_hover: rgba(82, 111, 139, 0.788),
  kategorija_hover: rgb(44, 62, 80),
  content_title: #ff6633,
  content_author: #080608,
  content_views: #080608,
);

//RESPONSIVE INDEX
$tablet: 1700px;
$mobile: 880px;

//RESPONSIVE CONTENT
$colide: 1200px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin colide {
  @media (max-width: #{$colide}),(orientation: portrait ) {
    @content;
  }
}

//TRANSITION TIEM
$link_transition_time: 0.2s;

$margin_side: 5%;
$default_margin: 40px;
$default_margin_mobile: 20px;
