@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.nav {
  padding: 4px 5% 0px 5%;
  display: grid;
  grid-template-columns: 10fr 9fr 10fr;
  grid-column-gap: 0px;
  height: 80px;
  width: 100%;
  font-size: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.055); }
  .nav h1 {
    font-size: 25px;
    line-height: 0.9; }
  .nav h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 0.9; }
  .nav .besedilapesmi {
    margin-top: 10px; }
  .nav .akordichords {
    display: flex; }
  .nav .chords {
    margin-top: 4px;
    margin-left: 2px; }

.logo {
  background-image: url("/static/notes.png");
  background-repeat: no-repeat;
  background-position-x: 167px;
  background-position-y: 33px;
  background-size: 92px; }

.searchbar {
  display: grid;
  width: 100%;
  grid-template-columns: 10fr 1fr;
  height: 46px;
  margin-top: 11px;
  line-height: 1;
  border: 2px solid rgba(128, 128, 128, 0.76);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.018);
  color: rgba(44, 42, 42, 0.877);
  font-size: 24px;
  align-content: center; }
  .searchbar input {
    width: 100%;
    /* force to expand to container's width */
    border: none;
    background-color: transparent;
    font-size: 26px;
    padding: 4px 4px 0px 4px; }
  .searchbar input::placeholder {
    color: gray;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-weight: 300; }
  .searchbar input:focus {
    outline: none; }
  .searchbar .searchicon {
    margin-top: 4px;
    text-align: right;
    margin-right: 8px; }
    .searchbar .searchicon img {
      height: 26px;
      opacity: 0.6; }
    .searchbar .searchicon img:hover {
      opacity: 1;
      cursor: pointer; }

.right_menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2; }
  .right_menu a {
    text-decoration: none;
    color: black; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.default_margin {
  margin: 0 5% 0 5%; }

.category_name {
  font-size: 26px;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.801);
  font-weight: bold; }
  .category_name h2 {
    font-size: 26px; }

.category_name2 {
  font-size: 26px;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.801);
  font-weight: bold; }
  .category_name2 h2 {
    font-size: 26px; }

.linebreak {
  margin-top: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.411); }

.linebreak2 {
  margin-top: 4px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.411); }

.split_categorys {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 30px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.kategorije {
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }
  .kategorije .kategorija {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #ec9358f3; }
    .kategorije .kategorija h2 {
      font-size: 18px;
      font-weight: 700; }
    .kategorije .kategorija h2:hover {
      color: #ec935867;
      cursor: pointer; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.opis1 {
  margin: 25px 0px 0px 0px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.02); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.views {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 300;
  color: #88949e; }

.item {
  background-color: transparent; }

.cardwrapper {
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out; }

.cardwrapper:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer; }
  .cardwrapper:hover .title {
    color: #fdcfb0; }

.cardlink {
  text-decoration: none; }

.cardimagediv {
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.cardimage {
  width: 100%;
  visibility: hidden; }

.carddata {
  display: grid;
  line-height: 1.5;
  padding: 0 6px 12px 6px; }
  .carddata .title {
    font-weight: 7800;
    font-size: 18px;
    color: #4e5860;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .carddata .author {
    color: #74828e;
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.5; }

.to_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 25px;
  grid-column-gap: 50px;
  grid-row-gap: 30px; }

.to_grid2 {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px; }

.to_grid3 {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 30px; }


/*# sourceMappingURL=styles.chunk.css.map*/